<div>

  <h2 *ngIf="booleano">
    La variable booleano es True
  </h2>
  <h2 *ngIf="!booleano">
    La variable booleano es False
  </h2>

  <ul>
    <li *ngFor=" let elemento of listado ">
      {{elemento.text}}
      <span *ngIf="elemento.disabled">
        Deshabilitado
      </span>
      <span *ngIf="!elemento.disabled">
        Habilitado
      </span>
    </li>
  </ul>

  <div [ngSwitch]="currentItem">
    <p *ngSwitchCase="'stout'">Stout</p>
    <p *ngSwitchCase="'stin'">Stin</p>
    <!-- . . . -->
    <p *ngSwitchDefault>default</p>
  </div>
  <div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>


</div>
