<div>
  <h2>Ejemplos de Pipes</h2>
  <div>{{cadena}}</div>
  <div>Mayúsculas: {{cadena | uppercase}}</div>
  <div>Minúsculas: {{cadena | lowercase}}</div>
  <div>Json : {{objeto | json}}</div>
  <div>Acceso a propiedad : {{objeto.prop}}</div>
  <div>Percentaje: {{porcentaje}}</div>
  <div>Percentaje: {{porcentaje | percent}}</div>
  <div>Percent:'2.1-2' {{ porcentaje | percent: '2.1-2' }}</div>
  <div>currency: {{porcentaje |  currency}}</div>
  <div>currency:'EUR' {{porcentaje |  currency: 'EUR'}}</div>
</div>
